html
  head
    meta(name='viewport', content='initial-scale=1.0, width=device-width, user-scalable=no')
    link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.css')
    //-link(rel='stylesheet', href)

    title ruhd
  body
    div.content-fluid
      div.row
        block header

        div.col-sm-12
          block content

      script(src='https://code.jquery.com/jquery-2.1.1.min.js')
      script(src='/vendor/bootstrap/dist/js/bootstrap.min.js')

      block script
