extends _layout

block script

block content
  div.row(style='margin-top: 100px')
    div
      div.form
        .form-group.input-group
          span.input-group-addon
            Email
          input.form-control(type='email')

        .form-group.input-group
          span.input-group-addon
            Password
          input.form-control(type='password')

        div.form-group
          button.btn.btn-primary.btn-block Login
